@use "sass:map";
@use "variables";

@mixin mq($key) {
  $size: map.get($breakpoints, $key);

  @media (max-width: $size) {
    @content;
  }
}

@mixin heading {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 2rem;
  margin: 3rem 0 2rem 0;
}