@use "sass:map";

$breakpoints: (xl: 1536px,
  l: 1280px,
  m: 1024px,
  s: 768px,
  xs: 640px,
);

@mixin mq($key) {
  $size: map.get($breakpoints, $key);

  @media (max-width: $size) {
    @content;
  }
}

$highlight: #ff3e00;
$text: black;
$background: #eee;